<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="main.js"></script>
</head>
<body>
    <h1>AngularJS 專案練習</h1>

    <div ng-controller="MainController as vm">
        商品名稱: <input type="text" ng-model="vm.default.PName"><br>
        商品價格: <input type="number" ng-model="vm.default.Price"><br>
        購買數量: <input type="number" ng-model="vm.default.Qty" ng-change="vm.ValidateQty(vm.default, 'Qty')"><br>
        <h3>
            您購買 {{ vm.default.PName }} 商品，
            單價 NT$ {{ vm.default.Price | number:0}}，
            購買 {{ vm.default.Qty||0 }} 件，
            小計 {{ vm.Subtotal(vm.default.Price, vm.default.Qty) | currency:'NT$':0 }} 元。
        </h3>

        <button type="button" class="btn" ng-click="vm.add()">加入購物車</button>

        <input type="checkbox" ng-model="vm.debug">
        <pre ng-if="vm.debug">{{ vm.carts | json }}</pre>

        <br><br>

        搜尋: <input type="search" ng-model="vm.keyword">

        <table class="table table-bordered">
            <tr>
                <th class="text-center" width="30">#</th>
                <th class="text-center">商品名稱</th>
                <th class="text-center" width="120">單價</th>
                <th class="text-center" width="80">數量</th>
                <th class="text-center" width="100">小計</th>
                <th class="text-center" width="150">功能</th>
            </tr>
            <tr ng-repeat="item in vm.carts | filter:{'PName':vm.keyword}">
                <td>{{$index+1}}</td>
                <td>
                    <span ng-switch="item.IsEdit">
                        <span ng-switch-when="true">
                            <input type="text"
                                   class="form-control input-sm"
                                   ng-model="item.PName">
                        </span>
                        <span ng-switch-default>
                            {{item.PName}}
                        </span>
                    </span>
                </td>
                <td class="text-right">
                    {{item.Price | number}}
                </td>
                <td class="text-center">
                    <span ng-switch="item.IsEdit">
                        <span ng-switch-when="true">
                            <input type="number"
                                   class="form-control input-sm"
                                   ng-model="item.Qty2"
                                   ng-change="vm.ValidateQty(item, 'Qty2')">
                        </span>
                        <span ng-switch-default>
                            {{item.Qty}}
                        </span>
                    </span>
                </td>
                <td class="text-right">
                    NT$ {{vm.Subtotal(item.Price, item.Qty) | number}}
                </td>
                <td class="text-center">
                    <span ng-switch="item.IsEdit">
                        <span ng-switch-when="true">
                            <button class="btn btn-primary" ng-click="vm.save($index)">儲存</button>
                            <button class="btn btn-default" ng-click="vm.cancel($index)">取消</button>
                        </span>
                        <span ng-switch-default>
                            <button class="btn btn-danger" ng-click="vm.del($index)">刪除</button>
                            <button class="btn btn-default" ng-click="vm.edit($index)">編輯</button>
                        </span>
                    </span>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-right">總計</td>
                <td class="text-right">
                    NT$ {{ vm.sum() | number }}
                </td>
                <td></td>
            </tr>
        </table>

        <button type="button"
                class="btn btn-danger"
                ng-click="vm.empty()">清空購物車</button>
    </div>

</body>
</html>
